@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #24272E;
    font-family: Asap, sans-serif;
    user-select: none;
}
header{
    background: #f1efef;
    padding: 20px;
}
header > h1{
    color: #223344;
    text-align: center;
}
.score-board{
    border: 2px solid white;
    margin: 20px auto;
    width: 200px;
    padding: 20px 25px;
    font-size: 3em;
    text-align: center;
    color: white;
    border-radius: 7px;
    position: relative;
}
.badge{
    background: #ff5050;
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 2px;
}
#user-label{
    position: absolute;
    top: 37%;
    left: -20px;
}
#comp-label{
    position: absolute;
    top: 37%;
    right: -27px;
}
.result{
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.choices{
    margin: 15px auto;
    text-align: center;
}
.choice{
    border: 4px solid white;
    border-radius: 50%;
    padding: 10px;
    display: inline-block;
    margin: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease; 
}
.choice:hover{
    background: #111111;
}
footer{
    text-align: center;
    position: relative;
}
#action-message{
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}
#reset_btn{
    background: #fe5b5b;
    color: #141313;
    padding: 10px 20px;
    margin-top: 12px;
    font-size: 1.2em;
    font-weight: 550;
    border-radius: 5px;
    right: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all .3s ease;
}
#reset_btn:hover{
    background: #d64a4a;
}
.green-glow{
    border: 4px solid #14fe11;
    box-shadow: 0 0 10px #13d310;
}
.red-glow{
    border: 4px solid #fe1111;
    box-shadow: 0 0 10px #d31010;
}
.gray-glow{
    border: 4px solid #444444;
    box-shadow: 0 0 10px #353535;
}